.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.ModalHeader {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }


.ModalBody {
  padding: 20px 0;
}

.ModalFooter {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}